.wrapper{
    display: grid;
}

.green-container
{
    display: grid;
    column-gap: auto;
    grid-template-columns: repeat(3, 1fr);
}

.block{
    border-radius: 3px;
    background: hsl(160, 60%, 50%);
}

.green-block{
    width: 100px;
}