html, body {
    height: 100%;
    padding:0;
}

table {
    border-spacing: 0.5rem;
    width: 100%; /* Ширина таблицы в процентах */
}

td:nth-child(1) { background: hsl(160, 60%, 50%); }
td:nth-child(2) { background: hsl(170, 70%, 50%); }
td:nth-child(3) { background: hsl(180, 80%, 50%); }
td:nth-child(4) { background: hsl(190, 90%, 50%); }

.content-box{
    width: 60%;
    overflow: auto;
}

.header{
    height: 100px;
}